* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfe1b9;
    text-align: center;
}

h1 {
    font-family: great vibes;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ed5a51;

}

.back {
    font-weight: 600;
    font-size: 1.5rem;
    color: #718355;
    margin-bottom: 20px;
}

.countdown {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

.countdown div {
    padding: 15px 0;
    text-align: center;
    border-right: solid 2px #000;
}

.countdown div:last-child {
    border-right: none;
}

.countdown div p {
    font-weight: 600;
    font-size: 3rem;
    color: #718355;
}

.countdown div span {
    color: #717171;
    font-weight: 300;
}